@import "libs/mixins.scss";
@import "libs/variable";

html {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    box-sizing: border-box;
    @media(min-width:820px) {
        height: 70rem;
        
    }
}

.logo {
    display: flex;
    height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    position: relative;
    i{
        @media(max-width:370px) {
            position: absolute;
            top: 0.4rem;
            left: 2.2rem;

    }
}   


    
}

.loca {
    display: flex;
    justify-content: center;
    border: none;
    height: 4rem;
    width: 100%;
    @include ombre;

    .fa-solid {
        width: 2rem;
        padding-top: 1.3rem;
        font-size: large;
        margin-left: 4rem;
    }

    .research-bar {
        @include ombre;
        border: none;
        font-size: large;
        justify-content: center;

    }
}

.header {
    @include ombre2;
    height: 23rem;
    @media(min-width:820px) {
        height: 20rem;
    }

    .header__titre {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin-left: 1rem;
        justify-content: space-around;
        padding-top: 2rem;
        @media(min-width:820px) {
            margin: auto;
        }

        & h1 {
            text-align: center;
            font-size: 1.9rem;
        }

        & p {
            text-align: center;
            font-size: 1.2rem;
            margin-top: 0;
        }
    }
}

.header__btn {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 7rem;


    .btn {
        border: none;
        font-size: 1.24rem;
        padding: 1rem 1.5rem;
        border-radius: 3rem;
        color: white;
        background: linear-gradient(0deg, ($primaire), $secondaire 90%);
        cursor: pointer;
        @include bri;

    }
}

.recherche {
    display: flex;
    flex-direction: column;
    @media(min-width:820px) {
        display: flex;
        flex-direction: row;
        padding-bottom: 3rem;

    }


    & h1 {
        margin-left: 1rem;
        font-size: 1.8rem;
        margin-top: 3rem;
        @media(min-width:820px) {
            display: none;
        }

    }
    &__txt {
        display: flex;
        @media(min-width:820px) {
            margin: 1rem;
        }
    }
    &__txt2 {
        font-size: larger;
        font-weight: 900;
        @media(min-width:820px) {
            margin: 3rem;
        }

    }
    &__bouton {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 1rem 2rem;
        border-radius: 1rem;
        background-color: $background3;
        box-shadow: 0.2rem 0.2rem 0.5rem darken($background2, 7);
        height: 4rem;
        align-items: center;
        justify-content: flex-start;
        transition: background-color 0.3s, box-shadow 0.4s;
        @media(min-width:820px) {
            width: 100%;
            margin-top: 5rem;
        }
        &:hover {
            background-color: lighten($primaire, 36);
            i {
                color: $primaire;
            }
        }

    }


    .fa-solid {
        display: flex;
        align-items: center;
    }
}


.number {
    display: flex;
    align-items: center;
    background-color: $primaire;
    border-radius: 3rem;
    height: 2rem;
    transform: translateX(-50%);
    font-size: 1.4rem;
    color: white;
    p {
        padding-bottom: 0.3rem;
    }

}
.photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $background;
    height: 88rem;
    margin-top: 5rem;
    padding-bottom: 3rem;
    @media(min-width:820px) {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: auto;
        justify-content: space-between;
        border-radius: 2rem;
        height: auto;
        padding: 2rem;
        background: linear-gradient(0deg, (lighten($primaire, 15)), (lighten($secondaire,15)) 90%);


    }

    h1 {
        margin: 4.5rem 0 0.5rem 1rem;
        @media(min-width:820px) {
            display: none;
        }
    }

}

.img__bloc {
    border: 1px $background solid;
    border-radius: 10px;
    height: 18rem;
    margin: 1rem;
    background-color: white;
    @media(min-width:820px) {
        width: 25rem;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        height: 72%;
    }

    &__new {

        position: relative;
    }
    &__new::before {
        content: "nouveau";
        position: absolute;
        top: 1rem;
        right: 1rem;
        height: 2rem;
        width: 5rem;
        background-color: $tertiaire;
        color: darken($tertiaire, 45);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
.img__bloc__text h2,
p {
    margin: 0.6rem;
}

footer {
    background-color: rgb(56, 56, 56);
    height: 13rem;
    cursor: pointer;
    @media(min-width:820px) {
        height: 9rem;
    }

    img {
        filter: invert(100%);
        height: 1.2rem;
        padding: 1.5rem;
    }

    ul {
        margin: 0;
        color: white;
        list-style: none;
        padding-left: 1rem;
        @media(min-width:820px) {
            display: flex;
            justify-content: space-around;
        }

    }

    li {
        padding: 0.3rem;
        width: 13rem;

        &:hover {
            color: $primaire;
        }

        i {
            padding-right: 0.4rem;

        }
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $primaire;
            }

        }

    }
}

i.fa-solid.fa-utensils {
    padding-right: 0.55rem;

}

i.fa-solid.fa-handshake-angle {
    font-size: 0.8rem;
}

/*page menu a la française*/

.logo a {
    color: black;
    transform: translate(-3.5rem, 0.5rem);

}

.top__img img {
    height: 18rem;
    width: 100%;
    object-fit: cover;
    @media(min-width: 820px) {
        height: 30rem;
    }

}
.main--modif {
    height: 88rem;
    background-color: #f7f7f7;
    @media(min-width:820px) {
        height: 100rem;
}
}
main {
    height: 84rem;
    @media(min-width: 820px) {  
        height: 91rem;
        transform: translateY(-1.5rem);
    }

}

h3 {
    padding: 2.5rem 0 0.5rem 2rem;
    position: relative;
    &::after {
        content: "";
        height: 0.25rem;
        width: 3rem;
        background-color: $tertiaire;
        position: absolute;
        top: 4.2rem;
        left: 2rem;


    }
}
.menu__media {
    @media(min-width:820px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}
@media(min-width:820px) {
    .menu__entre {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .menu__plat {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .menu__dessert {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    }

.menu__btn{
    width: 60%;
}



.menu__fr {
    background-color: $background3;
    border-radius: 3rem 3rem 0 0;
    height: 88.5rem;
    position: relative;
    top: -4.5rem;
    @media(min-width:820px) {
        height: 97rem;
    }

    &--mod {
        height: 78.5rem;
        @media(min-width:820px) {
            height: 91rem;
            h1{
                margin: 0;
            }
    }
    }

    h1 {
        padding: 1.5rem 0 0 2rem;
        @include police2;
        margin-bottom: 0;
        font-size: 1.8rem;
        @media(min-width:820px){
            text-align: center;
            
        }
            
    }
}
    i.fa-regular.fa-heart {
        position: absolute;
        top: 2.2rem;
        right: 1rem;
        font-size: x-large;
        @media(min-width: 820px) {
            right: 2rem;
        }


    }

    i.fa-solid.fa-heart {
        position: absolute;
        top: 2.2rem;
        right: 1rem;
        cursor: pointer;
        font-size: x-large;
        background-image: linear-gradient(0deg, ($primaire), $secondaire 90%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: all 150ms ease-in-out;
        @media(min-width: 820px) {
            right: 2rem;
        }
        &:hover {
            opacity: 1;
            animation: scal ease-in-out;
            @keyframes scal {
                0% {
                    transform: scale(0);
                }
                100% {
                    transform: scale(1.8);
                }
            }
        }
    }

.img__bloc {

    i.fa-regular.fa-heart {
        display: flex;
        justify-content: flex-end;
        font-size: x-large;
        transform: translate(-2rem, -4rem);
    }
    i.fa-solid.fa-heart {
        display: flex;
        justify-content: flex-end;
        transform: translate(-2rem, -5.5rem);
        cursor: pointer;
        font-size: x-large;
        background-image: linear-gradient(0deg, ($primaire), $secondaire 90%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
        transition: all 200ms ease-in-out;
        &:hover {
            opacity: 1;
        }

    }
}
.menu__miam {
    overflow: hidden;
    white-space: nowrap;
    p {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.menu__btn {
    @media(min-width:820px) {
        width: 60%;
    }
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.5rem darken($background2, 7);
    height: 5rem;
    overflow: hidden;
    animation: slide 2s ease-in-out;
    transform-origin: left;
    animation-fill-mode: both;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: 100ms * $i;
        }
        @keyframes slide {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }

        }
        &:hover {
            .menu__prix {
                margin-right: 0;
            }
            i {
                animation: rotate 0.5s both;
            }
            @keyframes rotate {
                0% {
                    transform: rotate(-360deg);
                }
                100% {
                    transform: rotate(0);
                }
            }
        }
    }
}

h4 {
    margin: 0;
    padding: 1rem 0 0 0.6rem;
}

.menu__barre {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiaire;
    border-radius: 0 1rem 1rem 0;
    width: 4rem;
    i {
        color: white;
        font-size: 2rem;
    }

}


.menu__prix {
    display: flex;
    margin-right: -4rem;
    transition: all 0.5s;
    p {
        display: flex;
        align-items: flex-end;
    }


}

.header__btn--modif {
    margin: 3rem 0 0;
}


/* creation du loader*/
.loader {
    background-color: white;
    opacity: 0.7;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 1;
    animation: fondu 400ms forwards 1.5s;
    transform-origin: bottom;
    img {
        width: 8rem;
        height: 2rem;
        padding: 1rem;
        margin: 30rem 0 30rem 55rem;
        background: $tertiaire;
        border-radius: 1rem;
        animation: spin 3s linear infinite;
        @keyframes spin {
            from {
                transform: rotate(-360deg);
            }
            to {
                transform: rotate(0);

            }
        }
    }
}
@keyframes fondu {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}
