@charset "UTF-8";
@keyframes animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
html {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  height: 2.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.loca {
  display: flex;
  justify-content: center;
  border: none;
  height: 4rem;
  width: 100%;
  background: linear-gradient(0deg, rgb(247, 245, 245) 90%, #e5dede);
}
.loca .fa-solid {
  width: 2rem;
  padding-top: 1.3rem;
  font-size: large;
  margin-left: 4rem;
}
.loca .research-bar {
  background: linear-gradient(0deg, rgb(247, 245, 245) 90%, #e5dede);
  border: none;
  font-size: large;
  justify-content: center;
}

.header {
  background: linear-gradient(0deg, #f4f4f4 20%, rgb(252, 252, 252));
  height: 23rem;
}
.header .header__titre {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-left: 1rem;
  justify-content: space-around;
  padding-top: 2rem;
}
@media (min-width: 820px) {
  .header .header__titre {
    width: 100%;
  }
}
.header .header__titre h1 {
  text-align: center;
  font-size: 1.9rem;
}
.header .header__titre p {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 0;
}

.header__btn {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 7rem;
}
.header__btn .btn {
  border: none;
  font-size: 1.24rem;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  color: white;
  background: linear-gradient(0deg, #9356dc, #FF79DA 90%);
  cursor: pointer;
  transition: filter 0.3s, box-shadow 0.4s;
}
.header__btn .btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 0.2rem 1rem #FF79DA;
}

.recherche {
  display: flex;
  flex-direction: column;
}
@media (min-width: 820px) {
  .recherche {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.recherche h1 {
  margin-left: 1rem;
  font-size: 1.8rem;
  margin-top: 3rem;
}
@media (min-width: 820px) {
  .recherche h1 {
    display: none;
  }
}

.recherche__bouton {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem;
  border-radius: 1rem;
  background-color: #f7f7f7;
  box-shadow: 0.2rem 0.2rem 0.5rem #eaeaea;
  height: 5rem;
}
@media (min-width: 820px) {
  .recherche__bouton {
    width: 100%;
    margin-top: 5rem;
  }
}
.recherche__bouton > .btn {
  cursor: pointer;
  width: 100%;
  font-size: large;
  border: none;
  background-color: #f7f7f7;
  padding: 1.5rem 2rem 1.5rem 0;
  border-radius: 1rem;
  transition: background-color 0.3s, box-shadow 0.4s;
}
.recherche__bouton > .btn:hover {
  background-color: #f4eefc;
}
.recherche__bouton > .fa-solid {
  position: relative;
  top: 2rem;
  left: 2.5rem;
}
.recherche__bouton > .fa-solid :hover {
  color: #9356dc;
}
.recherche__bouton .fa-solid.fa-mobile-screen-button {
  padding-right: 1rem;
}

.number {
  background-color: #9356dc;
  border-radius: 3rem;
  padding: 0.5rem 0.7rem;
  margin-top: 1.5rem;
  position: absolute;
  transform: translateX(-10.8rem);
}
.number .fa-solid {
  color: white;
  margin: 0;
  padding: 0;
}

.photo {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 245, 245);
  height: 88rem;
  margin-top: 5rem;
  padding-bottom: 3rem;
}
@media (min-width: 820px) {
  .photo {
    width: 50%;
    margin: auto;
  }
}
.photo h1 {
  margin: 4.5rem 0 0.5rem 1rem;
}
@media (min-width: 820px) {
  .photo h1 {
    display: none;
  }
}

.img__bloc {
  border: 1px rgb(247, 245, 245) solid;
  border-radius: 10px;
  height: 18rem;
  margin: 1rem;
  background-color: white;
}
.img__bloc img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  height: 72%;
}
.img__bloc__coeur {
  position: relative;
  transform: translate(20rem, -3.8rem);
  width: 1.5rem;
}
.img__bloc__new {
  position: absolute;
  transform: translate(18rem, -17rem);
  background-color: #99e2d0;
  font-weight: bold;
  color: #278870;
  font-size: small;
  height: 1.7rem;
}
.img__bloc__new p {
  margin-top: 0.4rem;
}

.img__bloc__text h2,
p {
  margin: 0.6rem;
}

footer {
  background-color: rgb(56, 56, 56);
  height: 13rem;
  cursor: pointer;
}
footer img {
  filter: invert(100%);
  height: 1.2rem;
  padding: 1.5rem;
}
footer ul {
  margin: 0;
  color: white;
  list-style: none;
  padding-left: 1rem;
}
@media (min-width: 820px) {
  footer ul {
    display: flex;
    justify-content: space-between;
  }
}
footer li {
  padding: 0.3rem;
  width: 13rem;
}
footer li:hover {
  color: #9356dc;
}
footer li i {
  padding-right: 0.4rem;
}
footer li a {
  color: white;
  text-decoration: none;
}
footer li a:hover {
  color: #9356dc;
}

i.fa-solid.fa-utensils {
  padding-right: 0.55rem;
}

i.fa-solid.fa-handshake-angle {
  font-size: 0.8rem;
}

/*page menu a la française*/
.logo a {
  color: black;
  transform: translate(-3.5rem, 0.5rem);
}

.top__img img {
  height: 18rem;
  width: 100%;
  object-fit: cover;
}

main {
  height: 84rem;
}

h3 {
  padding: 2.5rem 0 0.5rem 2rem;
  border-bottom: 0.2rem solid #99e2d0;
}

.menu__fr {
  background-color: #f7f7f7;
  border-radius: 3rem 3rem 0 0;
  height: 88.5rem;
  position: relative;
  top: -4.5rem;
}

h1 {
  padding: 1.5rem 0 0 2rem;
  font-family: "Shrikhand", cursive;
  margin-bottom: 0;
}

i.fa-regular.fa-heart {
  font-size: x-large;
}

i.fa-solid.fa-heart {
  cursor: pointer;
  font-size: x-large;
  position: relative;
  top: -1.6rem;
  background-image: linear-gradient(0deg, #9356dc, #FF79DA 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
i.fa-solid.fa-heart:hover {
  opacity: 1;
}

.menu__miam {
  overflow: hidden;
  white-space: nowrap;
}
.menu__miam p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__btn {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.5rem #eaeaea;
  height: 5rem;
  overflow: hidden;
}
.menu__btn:hover .menu__prix {
  margin-right: 0;
}
.menu__btn:hover i {
  animation: rotate 0.5s both;
}
@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}

h4 {
  margin: 0;
  padding: 1rem 0 0 0.6rem;
}

.menu__barre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  width: 4rem;
}
.menu__barre i {
  color: white;
  font-size: 2rem;
}

.menu__prix {
  display: flex;
  margin-right: -4rem;
  transition: all 0.5s;
}
.menu__prix p {
  display: flex;
  align-items: flex-end;
}

.header__btn--modif {
  margin: 3rem 0 0;
}

/*la note encantée*/
.main2 {
  height: 89rem;
}

.menu__fr--mod {
  height: 94.5rem;
}

/* creation du loader*/
.loader {
  background-color: white;
  background: content-box radial-gradient(#9356dc, #99e2d0);
  border-left: rem solid content-box radial-gradient(#9356dc, #99e2d0);
  border-right: rem solid content-box radial-gradient(#9356dc, #99e2d0);
  border-top: 2rem solid #99e2d0;
  border-bottom: 2rem solid #FF79DA;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: spin 3s linear;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
